<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Main API OnlyGamers</title>

		<style>
			body {
				background: rgb(5, 134, 0);
				color: white;
				font-family: 'Open Sans', sans-serif;
				font-size: 20px;
				margin: 2rem;
			}

			a:visited,
			a:link {
				color: rgb(170, 253, 153);
			}
		</style>
	</head>

	<body>
		<h1>OnlyGamers! API</h1>
		<!-- <p><a href="http://localhost:3018/api/productos">/productos</a></p>
		<p><a href="http://localhost:3018/api/usuarios">/usuarios</a></p> -->
		<p><a href="https://api-onlygamers.herokuapp.com/api/productos">/productos</a></p>
		<p><a href="https://api-onlygamers.herokuapp.com/api/usuarios">/usuarios</a></p>
	</body>
</html>
