<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Root API OnlyGamers</title>

		<style>
			body {
				background: rgb(5, 134, 0);
				color: white;
				font-family: 'Open Sans', sans-serif;
				font-size: 20px;
				margin: 2rem;
			}

			a:visited,
			a:link {
				color: rgb(170, 253, 153);
			}
		</style>
	</head>

	<body>
		<h1>OnlyGamers! API</h1>
		<p>
			Ir a
			<!-- <a href="http://localhost:3018/api">/api</a> -->
			<a href="https://api-onlygamers.herokuapp.com/api">/api</a>
			para descripcion
		</p>
	</body>
</html>
